AIRTABLE_BASE_ID=
KEYPOINT_APP_BASE_URL=http://localhost:3000
OFFICE_ALERT_WEBHOOK_URL=
WHATSAPP_PROVIDER_WEBHOOK_URL=
SMS_PROVIDER_WEBHOOK_URL=
EMAIL_PROVIDER_WEBHOOK_URL=
DOCUMENT_OCR_WEBHOOK_URL=
AI_REVIEW_WEBHOOK_URL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
TWILIO_SMS_FROM=
EMAIL_FROM_ADDRESS=
EMAIL_REPLY_TO=
EMAIL_API_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SHEETS_SPREADSHEET_ID=
